DB_HOST=localhost
DB_PORT=5432
DB_NAME=starkbank
DB_USER=starkbank
DB_PASSWORD=starkbank
SERVER_PORT=8080

# These values will be enabled when the Stark Bank integration is implemented.
STARKBANK_ENVIRONMENT=sandbox
STARKBANK_PROJECT_ID=
STARKBANK_PRIVATE_KEY=
