DB_HOST=localhost
DB_PORT=5432
DB_NAME=starkbank
DB_USER=starkbank
DB_PASSWORD=starkbank
SERVER_PORT=8080

STARKBANK_ENABLED=false
STARKBANK_ENVIRONMENT=sandbox
STARKBANK_PROJECT_ID=
STARKBANK_PRIVATE_KEY_SOURCE=./stark-bank-sandbox-private-key.pem
STARKBANK_INVOICE_RUN_ON_STARTUP=false
STARKBANK_INVOICE_SCHEDULING_ENABLED=false
STARKBANK_INVOICE_SCHEDULING_INTERVAL=3h
STARKBANK_EVENT_RECONCILIATION_RUN_ON_STARTUP=false
STARKBANK_EVENT_RECONCILIATION_SCHEDULING_ENABLED=false
STARKBANK_EVENT_RECONCILIATION_SCHEDULING_INTERVAL=15m
